html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.text{
    width: calc(100% - 100px);
    text-align: center;
    margin: 50px;
    font-size: 50px;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
}

#bm {
    width: 50%;
    height: 60%;
}

#man {
    width: 30%;
    height: 60%;
    background-color: tomato;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#man:hover{
    -webkit-transform: translate(10px, 10px);
    -moz-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -o-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    box-shadow: -5px -5px 10px #ddd;
}